
.body{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    opacity: 1;
}



.second {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60vh; 
}


.second-1 {
    width: 70%;
    height: 100%; /* Inherits 100% of parent's height */
}

.second-1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-2 {
    width: 30%;
    height: 100%; /* Inherits 100% of parent's height */
    text-align: left;
    padding: 0%, 5%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #A8D5E2;
}

.second-2-inner {
    padding: 5%;
}


.second-2-text {
    font-size: medium;
    text-transform: capitalize;
    text-align: left;
}


.second-2-button {
    background-color: #FFA301;
    color: white;
    padding: 3%;
    font-weight: 200;
    text-transform: capitalize;
    margin-top: 3%;
    border: none;
    outline: none;
    width: 70%;
}


.third {
    background-color: #2986A0;
}

.third-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.third-inner-text {
    text-align: center;
    color: white;
}

.third-inner-text-span {
    color: #FFA301;
    font-weight: bold;
    line-height: 1.5px;
}

.third-inner-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1%;
    margin-top: 5%;
}

.third-inner-button-1 {
    background-color: #FFA301;
    color: white;
    text-transform: capitalize;
    text-align: center;
    width: 15%;
    padding: 1%;
    cursor: pointer;
    border-radius: 5%;
    outline: none;
    border: none;
}

.third-inner-button-2 {
    background-color: transparent;
    color: white;
    text-transform: capitalize;
    text-align: center;
    width: 15%;
    padding: 1%;
    cursor: pointer;
    border-radius: 5%;
    outline: none;
    border: 1px solid white;
}

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.fourth-text {
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.fifth {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.button-fix {
    position: relative;
    bottom: 2;
}

.grid-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-img-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-inner-text-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.grid-inner-text-color-1 {
    color: white;
}

.grid-inner-text {
    padding: 3%;
}

.grid-text-bg-1 {
    background-color: #FFA301;
}

.grid-text-bg-2 {
    background-color: #2986A0;
}

.grid-text-bg-3 {
    background-color: #A8D5E2;
}

.grid-text-bg-4 {
    background-color: #FACF83;
}

.grid-text-bg-5 {
    background-color: #2A86A0;
}

.grid-text-bg-6 {
    background-color: #C05803;
}

.grid-text {
    font-weight: 500;
    font-size: large;
}


.grid-inner-text-button {
    background-color: transparent;
    color: white;
    text-transform: capitalize;
    text-align: center;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    border-radius: 5%;
    outline: none;
    border: 1px solid white;
}

.grid-inner-text-button-1 {
    background-color: transparent;
    text-transform: capitalize;
    text-align: center;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    border-radius: 5%;
    outline: none;
    border: 1px solid ;
}

/* .grid-inner-text-button-1 {
    margin-top: 15%;
} */

/* .grid-inner-text-button-2 {
    margin-top: 25%;
} */

/* .grid-inner-text-button-3 {
    margin-top: 40%;
} */


.sixth {
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 5%;
}

.sixth-1 {
    width: 40%;
}

.sixth-2 {
    width: 60%;
}

.sixth-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sixth-header {
    color: #FFA301;
    font-size: xx-large;
    font-weight: bold;
}

.sixth-text {
    font-weight: 400;
    font-size: larger;
    margin-top: 10%;
}

.seventh {
    background-color: #F0F2F1;
    display: flex;
    flex-direction: column;
}

.seventh-inner {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.seventh-inner-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.seventh-inner-header {
    font-weight: bold;
}

.seventh-inner-text {
    font-weight: lighter;
    font-size: large;
}

.seventh-inner-img {
    width: 4%;
}



.seventh-inner-text-1 {
    margin-left: 1%;
}

.eight {
    background-color: #207D96;
    color: white;
}

.eight-content {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.eight-inner-link {
    color: white;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    justify-content: center;
}

.address {
    margin-top: 5%;
}


.ninth {
    color: #959595;
}

.nineth-content {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.click {
    text-decoration: underline;
    color: #207D96;
}



@media (max-width: 725px) {
    .second {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 60vh; 
    }

    .second-2-text {
        font-size: medium;
        text-transform: capitalize;
        text-align: left;
    }
    
    
    .second-2-button {
        background-color: #FFA301;
        color: white;
        padding: 3%;
        width: auto;
        font-weight: 200;
        text-transform: capitalize;
        margin-top: 3%;
        border: none;
        outline: none;
        width: 100%;
        font-size: x-small;
        margin-top: 10%;
    }

    .third-inner-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 3%;
        margin-top: 5%;
    }
    
    .third-inner-button-1 {
        background-color: #FFA301;
        color: white;
        font-size: smaller;
        width: auto;
        text-transform: capitalize;
        text-align: center;
        padding: 3%;
        cursor: pointer;
        border-radius: 5%;
        outline: none;
        border: none;
    }
    
    .third-inner-button-2 {
        background-color: transparent;
        color: white;
        font-size: smaller;
        width: auto;
        text-transform: capitalize;
        text-align: center;
        padding: 3%;
        cursor: pointer;
        border-radius: 5%;
        outline: none;
        border: 1px solid white;
    }

    .fourth {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .fourth-text {
        font-size: medium;
        font-weight: 500;
        text-align: center;
    }

    .fourth-hearder {
        text-align: center;
    }

    .fifth {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    
    
    .grid-img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .grid-img-inner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .grid-inner-text-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .grid-inner-text-color-1 {
        color: white;
    }
    
    .grid-inner-text {
        padding: 2%;
        font-size: xx-small;
    }
    
    .grid-text-bg-1 {
        background-color: #FFA301;
    }
    
    .grid-text-bg-2 {
        background-color: #2986A0;
    }
    
    .grid-text-bg-3 {
        background-color: #A8D5E2;
    }
    
    .grid-text {
        font-weight: 500;
        font-size: xx-small;
    }
    
    
    .grid-inner-text-button {
        background-color: transparent;
        color: white;
        text-transform: capitalize;
        text-align: center;
        width: 80%;
        padding: 2%;
        cursor: pointer;
        border-radius: 5%;
        outline: none;
        font-size: xx-small;
        border: 1px solid white;
    }
    
    .grid-inner-text-button-1 {
        background-color: transparent;
        text-transform: capitalize;
        text-align: center;
        width: 80%;
        padding: 2%;
        cursor: pointer;
        border-radius: 5%;
        outline: none;
        font-size: xx-small;
        border: 1px solid ;
    }
    
    .grid-inner-text-button-1 {
        margin-top: 5%;
    }
    
    .grid-inner-text-button-2 {
        margin-top: 15%;
    }
    
    .grid-inner-text-button-3 {
        margin-top: 20%;
    }

    .sixth {
        display: flex;
        flex-direction: row;
        padding: 5%;
        gap: 5%;
        align-items: center;
        justify-content: center;
    }
    
    .sixth-1 {
        width: 40%;
    }
    
    .sixth-2 {
        width: 60%;
    }
    
    .sixth-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .sixth-header {
        color: #FFA301;
        font-size: small;
        font-weight: bold;
    }
    
    .sixth-text {
        font-weight: 400;
        font-size: smaller;
        margin-top: 3%;
    }

    .seventh-inner-header {
        font-weight: bold;
    }
    
    .seventh-inner-text {
        font-weight: lighter;
        font-size: smaller;
    }
    
    .seventh-inner-img {
        width: 20%;
    }
    
    .seventh-inner-text-1 {
        margin-left: 1%;
    }
}







